<!-- for backup code -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates is working</title>
</head>
<body>
    <h1>Welcome to the text analyazer. Enter your text</h1>
    <form action="/analyze" method="get">
        <textarea name="text" id="" cols="30" rows="10" style="margin: 0px; width: 638px; height: 104px;"></textarea><br>
        <input type="checkbox" name="removepunc"> remove Punctions <br>
        <input type="checkbox" name="fullcaps"> UPPERCASE <br>
        <input type="checkbox" name="newlineremover"> New line remover <br>
        <input type="checkbox" name="spaceremover"> Space Remover<br>
        <button type='submit'> Analyze Text</button>
    </form>
</html>